 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Purchase NFTs Here</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Nostalgic characters of the past combined with a lifestyle of the present, Hosted on the Enjin jumpnet.</p>
                </div>
                <div class="col-lg-4">
                    <p>Owners of these NFTs will be included in special giveaways, free airdrops from our second collection + more to come. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://jumpnet.enjinx.io/eth/project/8e1b3ef1-4176-43a2-aadc-bdebffcf1090/marketplace" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Purchase NFTs
                    </a>
                </div>
            </div>
        </div>
    </section>
